body {
  background-color: #ad3030ea;
}

header {
  z-index: 100;
}
.tab-content {
  min-height: 100vh;
  background-color: antiquewhite;
  width: 100%;
  box-sizing: border-box;
}

.tickets .container-tickets {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.tickets-category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

.tickets-category .unitario,
.regular,
.mayorista {
  width: 30%;
  min-width: 180px;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tickets-category .unitario:hover,
.regular:hover,
.mayorista:hover {
  transform: scale(0.97);
}

.tickets-category h2 {
  font-size: 1.5rem;
}

.tickets-category h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.tickets-category h5 {
  font-size: 1rem;
  color: var(--gray-700);
}

.tickets-category h6 {
  font-size: 0.7rem;
  color: var(--gray-600);
}

.tickets-category .unitario {
  border-radius: 5px;
  border: 2px solid blue;
}

.tickets-category .regular {
  border-radius: 5px;
  border: 2px solid green;
}

.tickets-category .mayorista {
  border-radius: 5px;
  border: 2px solid orange;
}

.container-tickets .tickets-text {
  text-align: center;
}

footer {
  background: #88729b;
  min-height: 100px;
  z-index: 100;
}

footer footer p {
  color: rgb(155, 114, 61);
  text-align: center;
}

footer .what-logo {
  position: fixed;
  right: 40px;
  bottom: 3px;
  float: left;
  margin-bottom: 30px;
  z-index: 40;
  perspective: 200px;
  animation: what-logo 2s linear infinite;
}
@keyframes what-logo {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
